# Datadog
DD_API_KEY=test_key_local_only

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=raw_events

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver

# MongoDB
MONGODB_URI=mongodb://admin:admin123@mongodb:27017/data_platform?authSource=admin
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin123
MONGO_INITDB_DATABASE=data_platform

# Generator
NUM_SENSORS=100
BATCH_SIZE=50
INTERVAL_SECONDS=2

# Spark
SPARK_LOCAL_IP=etl-spark
SPARK_EXECUTOR_MEMORY=2g
SPARK_EXECUTOR_CORES=2

# FastAPI
API_PORT=8000

# Docker
COMPOSE_PROJECT_NAME=data-platform
